
body{
    background-color: #091057;
}
div .boton {
    text-align: center;
    color: #f90000;
}

.boton {
    text-align: center;
    background-color: whitesmoke;
    font-size: 3em;
    padding: .5em;
    border-radius: 10%;
}


.boton:hover {
    background-color: #EC8305;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    font-size: 4rem;
    color: #DBD3D3;
}
h2 {
    text-align: center;
    font-size: 3rem;
    color: #DBD3D3;
}
.bento{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.grid{

    background-color: #024CAA;
    padding: 0em;
    border-radius: .5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.grid h3{
    font-size: 3em;
    color: aliceblue;
}
.grid p{
    font-size: 1.5em;
    font-weight: 700;
    margin-block-start: 0;
     margin-block-end: 0;
}

.grid:hover {
    background-color: #EC8305;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.icon{
    width: 3em;
    height: auto;
}


/* Aquí no debe haber reglas de grid-column fuera de los media queries */

/* Para pantallas de 768px o menos */
@media (max-width: 768px) {
.bento {
grid-template-columns: repeat(2, 1fr);
}
.grid:nth-child(1) {
grid-column: 1/3; /* Afecta el primer grid, ocupa toda la fila */
}
h1 {
color: #f90000;
}
}

/* Para pantallas de 480px o menos */
@media (max-width: 480px) {
.bento {
grid-template-columns: repeat(1, 1fr); /* Todos los grids se muestran en una sola columna */
}
.grid:nth-child(1) {
grid-column: auto; /* Ajusta las columnas según el tamaño */
}
.grid:nth-child(4) {
grid-column: auto;
}
h1 {
color: #37ff0079;
}
}

